<div #headerContainer
     class="header">
    <breadcrumb-view
        #breadcrumbView
        [title]="title"
        (onBreadcrumbClick)="handleClickBreadcrumb()">
    </breadcrumb-view>
    <input #searchTextBox
           class="search-textbox"
           type="text"
           placeholder="Search"
           (keyup)="handleKeyUpSearchTextBox($event)"
           (change)="handleChangeSearchTextBox($event)"
           (click)="handleClickSearchTextBox($event)" />
</div>
<div #listContainer
     class="list-container"
     (click)="handleClickListContainer($event)"
     (keydown)="handleKeyDownListContainer($event)">
     <ng-template #listPlaceHolder></ng-template>
</div>